.projects
{
	margin: 30px 0px 30px 0px;
}
.projects h1
{
	color: white;
	text-align: center;
	font-size: 1.8rem;
}
.projects ul
{
	display: grid;
	margin: 30px auto 30px auto;
	grid-template-columns: repeat(2, 1fr);
	width: 80%;
	grid-gap: 20px;
}
.projects ul li
{
	display: flex;
	background: #1A1B1C;
	box-shadow: 0px 0px 5px black;
	color: white;
}
.project-image
{
	min-width: 300px !important;
	height: 200px !important;
	background-size: 100% 100% !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	align-self: center;
}
.project-image p
{
	opacity: 0;
	font-size: 1.5rem;
	font-weight: bold;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
}
.project-image a
{
	background: white;
	border-radius: 50%;
	height: 90px;
	width: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}
.project-image p
{
	transition: all 0.5s ease;
}
.project-image:hover p
{
	opacity: 1;
}
.project-info
{
	padding: 10px;
}
.project-info h3
{
	margin-bottom: 5px;
}
.project-info p
{
	margin-bottom: 5px;
}
.project-info a
{
	color: var(--secondary);
	transition: all 0.5s ease;
}
.project-info a:hover
{
	text-shadow: 0px 0px 1px white;
}
.see-more
{
	display: flex;
	margin: 40px auto 0px auto;
	padding: 5px 10px 5px 10px;
	width: 190px;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	background: var(--secondary);
	border-radius: 10px;
	color: white;
	border: 1px solid var(--secondary);
	transition: all 0.5s ease;
}
.see-more img
{
	margin-left: 5px;
	height: 2em;
}
.see-more:hover
{
	background: transparent;
	color: var(--secondary);
}
@media (min-width: 1068px) and (max-width: 1302px)
{
	.projects ul li
	{
		flex-direction: column;
	}
}
@media (min-width: 468px) and (max-width: 1068px)
{
	.projects ul
	{
		grid-template-columns: 1fr;
		width: 90%;
	}
}
@media (min-width: 0px) and (max-width: 468px)
{
	.projects ul
	{
		grid-template-columns: 1fr;
		width: 90%;
	}
	.project-image
	{
		width: 100%;
		height: auto;
	}
	.projects ul li
	{
		flex-direction: column;
	}
}