@import "./_mixins.scss";

.projects {
	margin: 3rem auto;
	h1 {
		color: white;
		text-align: center;
		font-size: 1.8rem;
	}
	ul {
		display: flex;
		flex-direction: column;
		row-gap: 1.5rem;
		margin: 2rem auto;
		li {
			display: flex;
			background: var(--background);
			box-shadow: 0px 0px 10px var(--background);
			height: 300px;
			width: 1000px;
			max-width: 95%;
			margin: auto;
			color: white;
			.project-image {
				height: 300px;
				width: 500px;
				background-size: auto 100% !important;
				background-repeat: no-repeat !important;
				background-color: transparent !important;
				p {
					@include flexB(row);
					opacity: 0;
					font-size: 1.5rem;
					font-weight: bold;
					height: 100%;
					width: 100%;
					transition: all 0.5s ease;
					a {
						@include flexB(row);
						background: white;
						border-radius: 50%;
						height: 90px;
						width: 90px;
						color: var(--background);
						border: 3px solid var(--secondary);
					}
				}
				&:hover {
					p {
						opacity: 1;
					}
				}
			}
			.project-info {
				@include flexH(column);
				align-items: flex-end;
				justify-content: flex-start;
				padding: 1rem;
				row-gap: 0.5rem;
				width: calc(100% - 500px);
				a {
					color: var(--secondary);
					transition: all 0.5s ease;
					&:hover {
						text-shadow: 0px 0px 1px white;
					}
				}
				p {
					text-align: right;
				}
			}
			&:nth-child(even) {
				flex-direction: row-reverse;
				justify-content: right;
				.project-image {
					background-position: right !important;
				}
				.project-info {
					align-items: flex-start;
					p {
						text-align: left;
					}
				}
			}
		}
	}
	.see-more {
		@include button;
		margin: 2.5rem auto 0px auto;
		width: 190px;
		max-width: 95%;
		column-gap: 0.5rem;
		img {
			height: 2em;
		}
	}
	@media (min-width: 468px) and (max-width: 1068px) {
		ul {
			grid-template-columns: 1fr;
			li {
				flex-direction: column !important;
				.project-image {
					background-size: 100% auto !important;
					height: auto;
				}
			}
		}
	}
}
